.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form input{
    height: 36px;
    width: 260px;
    border: 1px solid #000000;
}
.form input[placeholder]{
    font-size: 20px;
    color: gray;
}

.form button{
    background: transparent;
    border: 1px solid #000000;
    padding: 0 30px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #FF6347;
}